.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433,#D0011B);

} 

.headre__navbar{
    display: flex;
    justify-content: space-between;
    
}

.headre__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;

}




.header__navbar-item--has-qr:hover .header__qr{
    display: block;

}


.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}


.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {

    display: inline-flex;
    align-items: center;

}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color:  rgba(255, 255, 255, 0.7);
    
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: white;
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-poiter{
    cursor: text;
    color: var(--white-color);
}

/* Header QA code */

.header__qr{
    background: white;
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    
}

.header__qr::before{
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 20px;
    
    left: 0;
    top: -16px;
}


.header__qr-img{
    width: 100%;

}

.header__qr-apps{
    display: flex;
    justify-content: space-between;

}

.header__qr-link:nth-child(1){
    margin-left: 7px;

}

.header__qr-link:nth-child(2){
    margin-right: 7px;

}
.header__qr-download-img{
    
height: 17px;

}


.header__notify{
  position: absolute;
  top: 118%;
  right: 0;
  width: 404px;
  border: 1px solid #D3D3D3;
  background-color: var(--white-color); 
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotifiGrowth ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
}

.header__notify::before{
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color);
    position: absolute;
    right: 12px;
    top: -33px;
}

@keyframes headerNotifiGrowth {
    from{
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notifi-header{
     height: 40px;
     background-color: var(--white-color);

}

.header__notifi-header h3{
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 12px;
    cursor: text;
}
.header__notify-list{
     padding-left: 0;
}
.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
   background-color: #f1f1f1;
}

.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);
    
}


.header__notify-link{
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
    

}
.header__notify-img{
   object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
  display: block;
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.header__notify-descriotion{
    display: block;
    font-size: 14px;
    color: #756F6E;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-top: 5px;
    margin-top: 4px;
}

.header__notify-footer{
 text-align: flex;

}

.header__notify-footer-btn{
text-decoration: none;
color: var(--text-color);
padding: 8px 16px;
text-align: center;
font-size: 1.4rem;
display: block;
width: 100%;

}


/* Authen modal */


.auth-form{
    width: 500px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}


.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400px;
    color: var(--text-color);
}


.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400px;
    color: var(--primaries-color);
    cursor: pointer;
}

.auth_form__form{
    
}

.auth-form__input{
    width: 100%;
    margin-top: 16px;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    outline: none;


}

.auth-form__input:focus{
    border-color: #777;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__polycy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth_form__text-link{
    text-decoration: none;
    color: var(--primaries-color);
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    color: var(--white-color);
    background-color: #3a5a89;
}


.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title{
   margin: 0 36px; 
}

.auth-form__socials--google{
    background-color: var(--white-color);
    
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 14px;
    color: #939393;

}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    margin: 0 16px ;
    height: 22px;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}












